
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>indexDividir</title>
</head>
<body>
    <div> 
        <h1>Dividir</h1>
        <form action="Divi" method="post">
            <input type="text" name="txtnum1" placeholder="numero 1" /><br /><br />
            <input type="text" name="txtnum2" placeholder="numero 2" /><br /><br />
            <input type="submit" value="Dividir" />
        </form>
    </div>
</body>
</html>
