
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Resta</title>
    <style>
        hr{
            width:30px;
           
                   }
    </style>
</head>
<body>
    <div> 
         La Resta entre <h3>@Model.variableA -</h3>   <h3>@Model.variableB</h3>
         <hr align="left" />
         <h3>= @Model.resultado</h3>
    </div>
</body>
</html>
